In [71]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium

In [72]:
port_crime = pd.read_csv('CrimeData-2022.csv')

port_crime.head()

,Address,CrimeAgainst,Neighborhood,OccurDate,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY
0,NaN,Person,Centennial,1/1/2022,Simple Assault,NaN,NaN,NaN,NaN
1,NaN,Person,Parkrose,1/1/2022,Aggravated Assault,NaN,NaN,NaN,NaN
2,NaN,Society,Parkrose,1/1/2022,Weapons Law Violations,NaN,NaN,NaN,NaN
3,NaN,Person,Woodstock,1/1/2022,Simple Assault,NaN,NaN,NaN,NaN
4,NaN,Person,Woodstock,1/1/2022,Kidnapping/Abduction,NaN,NaN,NaN,NaN

In [73]:
port_crime.tail()

,Address,CrimeAgainst,Neighborhood,OccurDate,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY
47447,WILDWOOD TRAIL AT / KEIL TRAIL,Property,Forest Park,6/4/2022,Credit Card/ATM Fraud,45.540437,-122.736728,7629081.0,691063.0
47448,WILDWOOD TRAIL AT / KEIL TRAIL,Property,Forest Park,6/4/2022,Theft From Motor Vehicle,45.540437,-122.736728,7629081.0,691063.0
47449,WILDWOOD TRAIL AT / KEIL TRAIL,Property,Forest Park,6/4/2022,Vandalism,45.540437,-122.736728,7629081.0,691063.0
47450,WILDWOOD TRAIL AT / MAPLE TRAIL,Property,Forest Park,2/26/2022,Theft From Motor Vehicle,45.552453,-122.758415,7623649.0,695597.0
47451,WILLAMETTE RIVER WB SO / BURNSIDE BRG,Person,NaN,6/20/2022,Aggravated Assault,45.521360,-122.669297,7646165.0,683639.0

displaying columns name

In [74]:
port_crime.columns

Index(['Address', 'CrimeAgainst', 'Neighborhood', 'OccurDate', 'OffenseType',
       'OpenDataLat', 'OpenDataLon', 'OpenDataX', 'OpenDataY'],
      dtype='object')

dropping some columns to keep only columns that are regarding location where crime have been committed

In [75]:
crime_location = port_crime.drop(['CrimeAgainst','OccurDate','Address'], axis=1)

In [76]:
crime_location.head()

,Neighborhood,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY
0,Centennial,Simple Assault,NaN,NaN,NaN,NaN
1,Parkrose,Aggravated Assault,NaN,NaN,NaN,NaN
2,Parkrose,Weapons Law Violations,NaN,NaN,NaN,NaN
3,Woodstock,Simple Assault,NaN,NaN,NaN,NaN
4,Woodstock,Kidnapping/Abduction,NaN,NaN,NaN,NaN

removing NaNs

In [77]:
NaNs_i_location = crime_location.isnull()
print(type(NaNs_i_location))
NaNs_i_location.head()

<class 'pandas.core.frame.DataFrame'>

   Neighborhood  OffenseType  OpenDataLat  OpenDataLon  OpenDataX  OpenDataY
0         False        False         True         True       True       True
1         False        False         True         True       True       True
2         False        False         True         True       True       True
3         False        False         True         True       True       True
4         False        False         True         True       True       True

In [78]:
NaNs_total = NaNs_i_location.sum()
NaNs_total

Neighborhood    2125
OffenseType        0
OpenDataLat     4593
OpenDataLon     4593
OpenDataX       4593
OpenDataY       4593
dtype: int64

In [79]:
crime_location_compact = crime_location.dropna()
crime_location_compact.head()

,Neighborhood,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY
3447,Old Town/Chinatown,All Other Larceny,45.523049,-122.669928,7646020.0,684259.0
3450,Boise,Motor Vehicle Theft,45.549575,-122.667025,7647023.0,693907.0
3451,Piedmont,Theft of Motor Vehicle Parts or Accessories,45.575163,-122.667241,7647218.0,703235.0
3452,Lloyd,Burglary,45.532573,-122.667711,7646681.0,687715.0
3453,Lloyd,Theft From Motor Vehicle,45.532573,-122.667711,7646681.0,687715.0

I note that there are 96 different type of neighborhood, which means we are going to have a post code for all pof them. Better to save those two columns in its own csv file.

In [70]:
crime_location.to_csv('crime_per_location.csv')