In [11]:
# importing geopy library
from geopy.geocoders import Nominatim
import numpy as np
import pandas as pd

In [12]:
#importing 'Port_houses_compact' file 
# import listing file using pandas

port_houses = pd.read_csv("./Data/port_houses_compact.csv")

In [13]:
port_houses.columns

Index(['Column1', 'Address', 'Price', 'Zip Code', 'Size', 'Neighbourhood'], dtype='object')

In [14]:
port_houses.drop(['Price', 'Size', 'Zip Code','Neighbourhood'], axis = 1, inplace = True)

In [15]:
port_houses.head()

   Column1                                           Address
0       37  7825 SE Crystal Springs Blvd, Portland, OR 97206
1       84              3306 SE 77th Ave, Portland, OR 97206
2       96              4412 SE 47th Ave, Portland, OR 97206
3      101              5420 SE Knapp St, Portland, OR 97206
4      103              5424 SE Knapp St, Portland, OR 97206

In [16]:
port_houses.drop(['Column1'], axis = 1, inplace=True)

In [17]:
port_houses.head()

                                            Address
0  7825 SE Crystal Springs Blvd, Portland, OR 97206
1              3306 SE 77th Ave, Portland, OR 97206
2              4412 SE 47th Ave, Portland, OR 97206
3              5420 SE Knapp St, Portland, OR 97206
4              5424 SE Knapp St, Portland, OR 97206

In [ ]:
latitude=[]
longitude=[]
x=[]
y=[]