# GROUP PROJECT PHASE 2 - PREPARE THE DATA
members
date
course

- ADD PURPOSE HERE AND TOOLS WE ARE GOING TO USE.
- PYTHON, JUPITER, VISUAL STUDIO CODe, csv files and where or how we found them.

In [40]:
# import python library
import pandas as pd
import numpy as np

In [41]:
# import listing file using pandas

port_houses = pd.read_csv("listings.csv")

In [42]:
# displays the first 5 houses on sale in portland at this date
port_houses.head()

,Address,Price,Beds,Baths,Sizes
0,"1150 NW Quimby St Unit 906, Portland, OR 97209","$1,039,900",2,3.0,"1,612sqft"
1,"2939 SE Beyee Blvd, Portland, OR 97202","$1,675,000",5,3.0,"4,592sqft"
2,"8420 NW Whitney St, Portland, OR 97231","$659,000",3,2.0,"1,680sqft"
3,"12807 NW Bayonne Ln, Portland, OR 97229","$769,000",4,3.0,"2,550sqft"
4,"1828 SW 18th Ave Apt 10, Portland, OR 97201","$400,000",2,2.0,"1,046sqft"

In [43]:
# displays the last 5 houses on sale at this date
port_houses.tail()

,Address,Price,Beds,Baths,Sizes
2242,"14941 NW Shackelford Rd Unit 71, Portland, OR ...","$369,990",3,4.0,"1,625sqft"
2243,"SE 176th Ave SE, Portland, OR 97236","$500,200",3,2.0,"1,940sqft"
2244,"5904 NE Sandy Blvd, Portland, OR 97213","$655,000",2,1.0,"2,264sqft"
2245,"SE 176th Ave, Portland, OR 97233","$635,900",3,3.0,"2,600sqft"
2246,"7200 SE 158th Ave, Portland, OR 97236","$499,000",5,4.0,"4,542sqft"

In [44]:
# remove unuseful column and check result
port_houses.drop(['Beds'], axis=1, inplace=True)
port_houses.drop(['Baths'], axis=1, inplace=True)

port_houses.head()

                                          Address        Price      Sizes
0  1150 NW Quimby St Unit 906, Portland, OR 97209  $1,039,900   1,612sqft
1          2939 SE Beyee Blvd, Portland, OR 97202  $1,675,000   4,592sqft
2          8420 NW Whitney St, Portland, OR 97231    $659,000   1,680sqft
3         12807 NW Bayonne Ln, Portland, OR 97229    $769,000   2,550sqft
4     1828 SW 18th Ave Apt 10, Portland, OR 97201    $400,000   1,046sqft

In [49]:
Number_od_NaNs = port_houses.isnull()

Number_od_NaNs.head()

   Address  Price  Sizes
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False

- STEP OF OUR PROJECT
CLEANING....THE IDEAL WOULD BE TO END UP WITH A NEW CSV FILE FINAL THAT CONTAINS ALL THE DATA WE NEED IN A USABLE FORMAT.(EX: IF NUMBER THE EXEL CELL SHOULD BE A NUMBER AND NOT TEXT IN ORDER TO BE ABKLE TO DO STAT ON IT OR QUERY)

- THE LAST CELL SHOULD BE THE SOURCES THAT WE GATHER ALONG THE WAY (THEORICAL CONCEPT, FORMULAS TO CAST FORMATS CELLS, MERGE COLUMNS OR FILE, SUPPRESS COLUMNS)... A BELIEVE THE SATISTIC SHOULD BE THE OBJECT OF ANOTHER PHASE. THE LAST PHASE BEING THE PRESENTATION OF OUR CONCLUSIONS: YES OR NO THERE IS CORRELATION BETWEEN CRIME AND PRICE OR WE DON'T KNOW.