# GROUP PROJECT PHASE 2 - PREPARE THE DATA
members
date
course

- ADD PURPOSE HERE AND TOOLS WE ARE GOING TO USE.
- PYTHON, JUPITER, VISUAL STUDIO CODe, csv files and where or how we found them.

In [21]:
# import python library
import pandas as pd
import numpy as np

IMPORT LISTING FILE

In [22]:
# import listing file using pandas

port_houses = pd.read_csv("./Data/listings.csv")

INSPECT THE CONTENT OF THE FILE WITH HEAD AND TAIL FUNCTION

In [23]:
# displays the first 5 houses on sale in portland at this date
port_houses.head()

,Address,Price,Beds,Baths,Sizes,Postcode,size
0,"1150 NW Quimby St Unit 906, Portland, OR 97209",1039900,2,3.0,"1,612sqft",97209,1612
1,"2939 SE Beyee Blvd, Portland, OR 97202",1675000,5,3.0,"4,592sqft",97202,4592
2,"8420 NW Whitney St, Portland, OR 97231",659000,3,2.0,"1,680sqft",97231,1680
3,"12807 NW Bayonne Ln, Portland, OR 97229",769000,4,3.0,"2,550sqft",97229,2550
4,"1828 SW 18th Ave Apt 10, Portland, OR 97201",400000,2,2.0,"1,046sqft",97201,1046

In [24]:
# displays the last 5 houses on sale at this date
port_houses.tail()

,Address,Price,Beds,Baths,Sizes,Postcode,size
2236,"14941 NW Shackelford Rd Unit 71, Portland, OR ...",369990,3,4.0,"1,625sqft",97229,1625
2237,"SE 176th Ave SE, Portland, OR 97236",500200,3,2.0,"1,940sqft",97236,1940
2238,"5904 NE Sandy Blvd, Portland, OR 97213",655000,2,1.0,"2,264sqft",97213,2264
2239,"SE 176th Ave, Portland, OR 97233",635900,3,3.0,"2,600sqft",97233,2600
2240,"7200 SE 158th Ave, Portland, OR 97236",499000,5,4.0,"4,542sqft",97236,4542

DROPING UNUSEFUL COLUMS, NOTE THAT IT DOES NOT MEAN THAT THE COLUMNS DISEPPEAR FROM THE FILE. IT JUST REMOVED FROM THE VARIABLE 'PORT_HOUSES'

In [25]:
# remove unuseful column and check result
port_houses.drop(['Beds'], axis=1, inplace=True)
port_houses.drop(['Baths'], axis=1, inplace=True)
port_houses.drop(['Sizes'], axis=1, inplace=True)

port_houses.head()

                                          Address    Price  Postcode  size
0  1150 NW Quimby St Unit 906, Portland, OR 97209  1039900     97209  1612
1          2939 SE Beyee Blvd, Portland, OR 97202  1675000     97202  4592
2          8420 NW Whitney St, Portland, OR 97231   659000     97231  1680
3         12807 NW Bayonne Ln, Portland, OR 97229   769000     97229  2550
4     1828 SW 18th Ave Apt 10, Portland, OR 97201   400000     97201  1046

I have kept the address complete(complete with the post code as it might be useful if we have to plug them on a map later on)

In [26]:
Number_of_NaNs = port_houses.isnull()

Number_of_NaNs.head()

   Address  Price  Postcode   size
0    False  False     False  False
1    False  False     False  False
2    False  False     False  False
3    False  False     False  False
4    False  False     False  False

In [27]:
NaNs_per_column = Number_of_NaNs.sum()
NaNs_per_column

Address     0
Price       0
Postcode    0
size        0
dtype: int64

Note that there are no NaNs. This

SHOWING THE TYPE OF VARIABLES

In [28]:
port_houses.dtypes

Address     object
Price        int64
Postcode     int64
size         int64
dtype: object

From there, we know that the address should stay of that format for now but we expect the other values such as 'price' and 'size' to be of type float. Some works on the csv file itself using Exel might be necessary before saving the work into a new csv file listing_compact.

STEP 4 - CONEVRTING STRING INTO A FLOAT FOR SIZE, PRICE AND INTEGER FOR THE POST CODE( WE DON'T WANT COMA FOR THE POST CODE) see cell 14 of the lab 3.2.1.6 for explanation

In [29]:
pd.options.mode.chained_assignment = None

port_houses['Price'] = port_houses['Price'].apply(lambda val: float(val))
port_houses['size'] = port_houses['size'].apply(lambda val: float(val))
port_houses['Postcode'] = port_houses['Postcode'].apply(lambda val: int(val))

port_houses.head()

                                          Address      Price  Postcode    size
0  1150 NW Quimby St Unit 906, Portland, OR 97209  1039900.0     97209  1612.0
1          2939 SE Beyee Blvd, Portland, OR 97202  1675000.0     97202  4592.0
2          8420 NW Whitney St, Portland, OR 97231   659000.0     97231  1680.0
3         12807 NW Bayonne Ln, Portland, OR 97229   769000.0     97229  2550.0
4     1828 SW 18th Ave Apt 10, Portland, OR 97201   400000.0     97201  1046.0

In [30]:
port_houses.dtypes

Address      object
Price       float64
Postcode      int64
size        float64
dtype: object

Trying to buil a dictionary from a csv list containing the neighbourhoods of portland with their respective zip codes

In [46]:
import csv 

csv_filename = 'port_neighbourhood_zip.csv'

with open(csv_filename) as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row)

FileNotFoundError: [Errno 2] No such file or directory: 'port_neighbourhood_zip.csv'

ValueError: I/O operation on closed file.

In [18]:
port_houses.to_csv('port_houses_compact.csv')

- STEP OF OUR PROJECT
CLEANING....THE IDEAL WOULD BE TO END UP WITH A NEW CSV FILE FINAL THAT CONTAINS ALL THE DATA WE NEED IN A USABLE FORMAT.(EX: IF NUMBER THE EXEL CELL SHOULD BE A NUMBER AND NOT TEXT IN ORDER TO BE ABKLE TO DO STAT ON IT OR QUERY)

- THE LAST CELL SHOULD BE THE SOURCES THAT WE GATHER ALONG THE WAY (THEORICAL CONCEPT, FORMULAS TO CAST FORMATS CELLS, MERGE COLUMNS OR FILE, SUPPRESS COLUMNS)... A BELIEVE THE SATISTIC SHOULD BE THE OBJECT OF ANOTHER PHASE. THE LAST PHASE BEING THE PRESENTATION OF OUR CONCLUSIONS: YES OR NO THERE IS CORRELATION BETWEEN CRIME AND PRICE OR WE DON'T KNOW.