In [14]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium

In [15]:
port_crime = pd.read_csv('CrimeData-2022.csv')

port_crime.head()

,Address,CrimeAgainst,Neighborhood,OccurDate,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY
0,NaN,Person,Centennial,1/1/2022,Simple Assault,NaN,NaN,NaN,NaN
1,NaN,Person,Parkrose,1/1/2022,Aggravated Assault,NaN,NaN,NaN,NaN
2,NaN,Society,Parkrose,1/1/2022,Weapons Law Violations,NaN,NaN,NaN,NaN
3,NaN,Person,Woodstock,1/1/2022,Simple Assault,NaN,NaN,NaN,NaN
4,NaN,Person,Woodstock,1/1/2022,Kidnapping/Abduction,NaN,NaN,NaN,NaN

In [16]:
port_crime.tail()

,Address,CrimeAgainst,Neighborhood,OccurDate,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY
47447,WILDWOOD TRAIL AT / KEIL TRAIL,Property,Forest Park,6/4/2022,Credit Card/ATM Fraud,45.540437,-122.736728,7629081.0,691063.0
47448,WILDWOOD TRAIL AT / KEIL TRAIL,Property,Forest Park,6/4/2022,Theft From Motor Vehicle,45.540437,-122.736728,7629081.0,691063.0
47449,WILDWOOD TRAIL AT / KEIL TRAIL,Property,Forest Park,6/4/2022,Vandalism,45.540437,-122.736728,7629081.0,691063.0
47450,WILDWOOD TRAIL AT / MAPLE TRAIL,Property,Forest Park,2/26/2022,Theft From Motor Vehicle,45.552453,-122.758415,7623649.0,695597.0
47451,WILLAMETTE RIVER WB SO / BURNSIDE BRG,Person,NaN,6/20/2022,Aggravated Assault,45.521360,-122.669297,7646165.0,683639.0

displaying columns name

In [18]:
port_crime.columns

Index(['Address', 'CrimeAgainst', 'Neighborhood', 'OccurDate', 'OffenseType',
       'OpenDataLat', 'OpenDataLon', 'OpenDataX', 'OpenDataY'],
      dtype='object')

dropping some columns to keep only columns that are regarding location where crime have been committed

In [37]:
crime_location = port_crime.drop(['CrimeAgainst','OccurDate','OpenDataLat','OpenDataLon','OpenDataX','OpenDataY','Address'], axis=1)

In [38]:
crime_location.head()

  Neighborhood             OffenseType
0   Centennial          Simple Assault
1     Parkrose      Aggravated Assault
2     Parkrose  Weapons Law Violations
3    Woodstock          Simple Assault
4    Woodstock    Kidnapping/Abduction

removing NaNs

In [39]:
NaNs_i_location = crime_location.isnull()
print(type(NaNs_i_location))
NaNs_i_location.head()

<class 'pandas.core.frame.DataFrame'>

   Neighborhood  OffenseType
0         False        False
1         False        False
2         False        False
3         False        False
4         False        False

In [40]:
NaNs_total = NaNs_i_location.sum()
NaNs_total

Neighborhood    2125
OffenseType        0
dtype: int64

In [41]:
crime_location_compact = crime_location.dropna()
crime_location_compact.head()

  Neighborhood             OffenseType
0   Centennial          Simple Assault
1     Parkrose      Aggravated Assault
2     Parkrose  Weapons Law Violations
3    Woodstock          Simple Assault
4    Woodstock    Kidnapping/Abduction

In [42]:
crime_location_compact.describe()

       Neighborhood OffenseType
count         45327       45327
unique           96          46
top        Downtown   Vandalism
freq           3594        7569

I note that there are 96 different type of neighborhood, which means we are going to have a post code for all pof them. Better to save those two columns in its own csv file.

In [ ]:
crime_location.to_csv('crime_per_location.csv')