In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium

In [7]:
port_crime = pd.read_csv('CrimeData-2022.csv')

port_crime.head()

,Address,CrimeAgainst,Neighborhood,OccurDate,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY
0,NaN,Person,Centennial,1/1/2022,Simple Assault,NaN,NaN,NaN,NaN
1,NaN,Person,Parkrose,1/1/2022,Aggravated Assault,NaN,NaN,NaN,NaN
2,NaN,Society,Parkrose,1/1/2022,Weapons Law Violations,NaN,NaN,NaN,NaN
3,NaN,Person,Woodstock,1/1/2022,Simple Assault,NaN,NaN,NaN,NaN
4,NaN,Person,Woodstock,1/1/2022,Kidnapping/Abduction,NaN,NaN,NaN,NaN