In [6]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium

In [13]:
df = pd.read_csv('./Data/crime_per_location.csv')
df.head()

,index,neighbourhood,type of crime,lat,long,x,y
0,3447,Alameda,False Pretenses/Swindle/Confidence Game,45.551806,-122.643266,7653129.0,694558.0
1,3450,Alameda,Motor Vehicle Theft,45.546654,-122.643673,7652975.0,692683.0
2,3451,Alameda,Burglary,45.542105,-122.643704,7652923.0,691025.0
3,3452,Alameda,Theft of Motor Vehicle Parts or Accessories,45.542105,-122.643704,7652923.0,691025.0
4,3453,Alameda,All Other Larceny,45.548902,-122.643629,7653008.0,693502.0

In [14]:
df.tail()

,index,neighbourhood,type of crime,lat,long,x,y
43914,47447,NaN,Theft From Motor Vehicle,NaN,NaN,NaN,NaN
43915,47448,NaN,Simple Assault,45.517524,-122.668608,7646304.0,682236.0
43916,47449,NaN,Vandalism,45.464324,-122.665556,7646566.0,662825.0
43917,47450,NaN,Vandalism,45.464324,-122.665556,7646566.0,662825.0
43918,47451,NaN,Aggravated Assault,45.521360,-122.669297,7646165.0,683639.0

based on the information at our disposal, it looks like there are almost 44.000 crimes committed in Portland during the year 2022

In [15]:
df.columns

Index(['index', 'neighbourhood', 'type of crime', 'lat', 'long', 'x', 'y'], dtype='object')

In [16]:
len(df)

43919

By using the len(length)function, we have the confioemation that there are 44000 crimes committed in Portland.

In [17]:
Number_of_NaNs = df.isnull()

Number_of_NaNs.head()

   index  neighbourhood  type of crime    lat   long      x      y
0  False          False          False  False  False  False  False
1  False          False          False  False  False  False  False
2  False          False          False  False  False  False  False
3  False          False          False  False  False  False  False
4  False          False          False  False  False  False  False

In [18]:
NaNs_per_column = Number_of_NaNs.sum()
NaNs_per_column

index               0
neighbourhood    1958
type of crime       0
lat              1061
long             1061
x                1061
y                1061
dtype: int64

In [34]:
NaNs_total = NaNs_per_column.sum().sum()
NaNs_total

6202

In [29]:
NaN_pct = np.round(df.isnull().sum().sum()/float(len(df)*len(df.columns))*100, decimals=4)
print("The Data frame contains : {} NaNs, equal to {} of the measurements".format(NaNs_total, NaN_pct))

The Data frame contains : 6202 NaNs, equal to 2.0174 of the measurements

In [30]:
df_clean= df.dropna()

In [33]:
print(len(df))
print(len(df_clean))

43919
41814

We notice that there are 2105 NaNs that have been removed from the list.

In [35]:
CountCategory = df_clean['type of crime'].value_counts()
print(CountCategory)

Vandalism                                      7343
Motor Vehicle Theft                            7037
Theft From Motor Vehicle                       6384
Burglary                                       3652
All Other Larceny                              3597
Theft of Motor Vehicle Parts or Accessories    3132
Shoplifting                                    2003
Simple Assault                                 1598
Aggravated Assault                             1216
Theft From Building                            1160
Robbery                                         889
False Pretenses/Swindle/Confidence Game         705
Identity Theft                                  632
Credit Card/ATM Fraud                           528
Weapons Law Violations                          513
Intimidation                                    328
Drug/Narcotic Violations                        288
Arson                                           225
Counterfeiting/Forgery                          224
Purse-Snatching                                  68
Stolen Property Offenses                         45
Purchasing Prostitution                          36
Wire Fraud                                       31
Theft From Coin-Operated Machine or Device       24
Embezzlement                                     23
Hacking/Computer Invasion                        21
Pocket-Picking                                   21
Pornography/Obscene Material                     19
Extortion/Blackmail                              16
Impersonation                                    15
Assisting or Promoting Prostitution              11
Animal Cruelty                                   11
Prostitution                                     11
Drug Equipment Violations                         3
Negligent Manslaughter with a Vehicle             2
Welfare Fraud                                     2
Murder and Non-negligent Manslaughter             1
Name: type of crime, dtype: int64

In [36]:
Count_Neighbourhood = df_clean['neighbourhood'].value_counts()
print(Count_Neighbourhood)

Downtown         3430
Hazelwood        2173
Northwest        1850
Pearl            1506
Lents            1240
                 ...
Crestwood          17
Woodland Park      17
Arnold Creek       11
Marshall Park      10
Healy Heights       1
Name: neighbourhood, Length: 96, dtype: int64

it seems that downtown and Hazelwood are the places where the crime have been committed the most